.account-avatar {
    border-radius: 50%
}

.account-avatar-wrapper {
    text-align: center;
    margin: 5vh 0 0 0;
}

.account-wrapper {
    min-width: 80vw;;
    background-color: none;
    line-height: 200%;
    /* text-align: center; */
}

.account-form {
    margin-bottom: 5vh;
}

.account-form fieldset {
    width: 90%;
    background-color: rgba(238, 198, 249, 0.5);
}

.account-form fieldset legend {
    text-align: right;
    width: 80%;
}

.account-form fieldset legend span {
    text-align: left;
    width: 80%;
}

.update-avatar-link {
    margin: 3vh 0 4vh 0;
}