
.profile-pic{
    width: 75px;
    display: inline;
}

.follow-item-wrapper{
    width: inherit;
    height: 120px;
    
}

.follow-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: inherit;
    align-items: center;
    padding: var(--spacer-sm);
    max-width: 750px;
}

.follow-wrapper-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.follow-item-inner-wrapper{
    width: inherit;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.follow-name-wrapper{
    width: 50%;
    justify-self: flex-start;
    padding-left: var(--spacer-sm);
}

.toggle-button-wrapper{
    width: inherit;
    display: flex;
    justify-content: stretch;
}

.toggle-button-wrapper button{
    width: 100%;
    flex: 1;
    
}

.active-toggle{
        background-color: var(--colors-light);
        color: var(--colors-accent);
        border: 2px solid var(--colors-accent);
}




.follow-button{
    width: 100px;
    border-radius: 2px;
}

@media all and (min-width: 450px){
    .profile-pic{
        width: 100px;
    }

}