@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
}


header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: var(--spacer-sm);
    background-color: var(--colors-white);
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

.add-logo{
    height: 12vh;
    position: relative;
    right: var(--spacer-sm);

}

.nav-logout-button{
    color: var(--colors-accent);
    cursor: pointer;
}

.header-icons{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding-right: var(--spacer-sm);
}

.burger-wrapper{
    width: 43px;
    height: 33px;
    position: relative;
    top: 0px;
    right: 0px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.burger-wrapper:active{
    outline: 0;
}



.burger-line{
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: var(--colors-accent);
    border-radius: 5px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.burger-line-one{
    top: 0px;
    transform-origin: left center;
}

.burger-line-two{
    top: 12px;
    transform-origin: left center;
}

.burger-line-three{
    top: 24px;
    transform-origin: left center;
}

.burger-line-open-one{
    transform: rotate(45deg);
    top: -3px;
    left: 5px;
}

.burger-line-open-two{
display: none;
}

.burger-line-open-three{
    transform: rotate(-45deg);
    top: 27px;
    left: 5px;

}

.navigation{
    position: absolute;
    top: 5vh;
    right: 0;
    width: 40vw;
    z-index: 5;
}

.navigation-item{
    animation: .25s ease-in 0s 1 slideInFromRight;
    position: absolute;
    text-align: left;
    height: 50px;
    width: inherit;
    background-color: var(--colors-accent-light);
    padding: var(--spacer-sm);
    font-size: var(--font-size-sm);
  overflow-block: none;
}

.nav-item-one{
    top: 80px;
    
}

.nav-item-two{
    top: 120px;

}

.nav-item-three{
    top: 160px;
}

h1{
    flex: 1;
}

@media all and (min-width: 500px){

h1{
    padding-left: var(--spacer-sm)
}
 
 }

 @media all and (min-width: 700px){

  
     
    }

@media all and (min-width: 900px){

         
    }


 