@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}


header {
    animation: .75s ease-in 0s 1 slideInFromLeft;
}

.header-icons{
    display: flex;
    width: 180px;
}

header{
    width: inherit;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span{
    display: block;
}
.add-logo{
    width: 100px;
}

.nav-item{
    animation: .25s ease-in 0s 1 slideInFromRight;
    display: flex;
    flex-direction: column;

    /* margin: 1vh 0 1vh 0;
    padding: .5vh 0 .5vh 0; */
}

.nav-link{
    text-decoration: none;
    font-size: 2.5vh;
    text-align: right;
    color: #020505;
}

.burger-nav {
    display: block;
    position: absolute;
    height: 5px;
    width: 50px;
    background: var(--colors-accent);
    border-radius: 5px;
    opacity: 1;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
} 

.burger-nav-top {
    top: 40px;
    right: 15px;
    transform-origin: left center;
    transition: .25s ease-in-out;
}

.burger-nav-top-open {
    transform: rotate(45deg);
}

.burger-nav-middle {
    top: 55px;
    right: 15px;
    transform-origin: left center;
    transition: .25s ease-in-out;
}

.burger-nav-bottom {
    top: 70px;
    right: 15px;
    transform-origin: left center;
    transition: .25s ease-in-out;
}

.burger-nav-bottom-open {
    transform: rotate(-45deg);
    transition: .25s ease-in-out;
    right: 15px;
   top: 74px;
}
