
section{
    width: inherit;
}

.post-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 650px;
    align-items: center;
    width: inherit;
}

.post-detail-wrapper{
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: var(--spacer-sm);
}

/* .post-wrapper a{
    display: block;
} */

.comment-body{
    padding-left: var(--spacer-sm);
}

.comment-form{
    width: inherit;
    padding: var(--spacer-sm);
    max-width: 650px;
}

.comment-form button{
    width: 100px;
    border-radius: 2px;
    padding: 0;
    align-self: flex-start;
}

.comment-form textarea{
    margin-top: 5px;
    width: 100%;
    height: 10vh;
}

.post-user-wrapper{
    display: flex;
    width: inherit;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacer-sm);
}

.user-detail-wrapper{
    display: flex;
   flex-direction: column;
   justify-content: center;
}

.post-info-wrapper{
    width: inherit;
}

.comment-date-created{
    font-size: 0.8rem;
}

.comment-data-wrapper{

max-width: 650px;
padding: var(--spacer-sm);
font-size: 0.8rem;
width: 100%;
overflow-wrap: break-word;
}

.temp-user-avatar{
    font-size: 35px;
    padding: var(--spacer-tiny);
    color: var(--colors-accent);
}

.avatar-date-comment-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 120px;
}


.desc-wrapper{
    align-self: center;
}

.placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
    width: inherit;
    border: 2px solid var(--colors-accent);
}

.comment-wrapper{
    width: inherit;
    display: flex;
    max-width: 750px;
    justify-content: space-between;
    padding-bottom: var(--spacer-sm);
}

.links-rendered-wrapper{
    display: flex;
    justify-content: space-evenly;
}

@media all and (min-width: 650px){
    .post-wrapper{
        padding: var(--spacer-sm);
    }

    .post-detail-wrapper{
        padding: var(--spacer-sm) 0;
    }
}

