
section{
    width: inherit;
}
.post-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 650px;
    align-items: center;
    width: inherit;
   
}
.post-detail-wrapper{
    width: inherit;
    background-color: var(--colors-accent-light);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: var(--spacer-sm);
}

.post-wrapper a{
    display: block;
   
}

.comment-form{
    width: inherit;
    padding: var(--spacer-sm);
    max-width: 650px;
}

.comment-form button{
    width: 100px;
    border-radius: 2px;
    padding: 0;
    align-self: flex-start;
}

.comment-form textarea{
    margin-top: 5px;
    width: 100%;
    height: 10vh;
}

.post-user-wrapper{
    display: flex;
    width: inherit;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacer-sm);
    background-color: white;
}

.post-info-wrapper{
    width: inherit;
}

.comment-data-wrapper{
display: flex;
flex-direction: column;
flex: 1;
max-width: 650px;
padding: 0 var(--spacer-sm);
font-size: 0.8rem;
}

.link{
    flex: 3;
    text-align: right;
}

.link-label{
max-width: 30vw;
}

.desc-wrapper{
    background-color: white;
    align-self: center;
}
.comment-body{
    flex: 3;
    width: 100%;
    padding-left: var(--spacer-sm);
}

.placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
    width: inherit;
    border: 2px solid var(--colors-accent);
}

.comment-wrapper{
    width: inherit;
    display: flex;
    max-width: 750px;
    justify-content: space-between;
    padding-bottom: var(--spacer-sm);
}


@media all and (min-width: 650px){
    .post-wrapper{
        padding: var(--spacer-sm);
    }

    .post-detail-wrapper{
        padding: var(--spacer-sm) 0;
    }
}

