@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

:root{
    --colors-accent-light: #EEC6F9;
    --colors-accent: #280079;
    --colors-black: #020202;
    --colors-white: #fafafa;
    --colors-red: #BA3F1D;

    --spacer-sm: 0.8rem;
    --spacer-med: 1rem;
    --spacer-lg: 1.2rem;
    --spacer-tiny: 2.5px;

    --font-size-sm: 18px;

    --font: "Courier Prime", serif;
}

@media all and (min-width: 500px){
   :root{
    --spacer-sm: 0.9rem;
    --spacer-med: 1.1rem;
    --spacer-lg: 1.3rem;
    --spacer-tiny: 5px;
   } 

}

@media all and (min-width: 800px){
    :root{
     --spacer-sm: 1rem;
     --spacer-med: 1.3rem;
     --spacer-lg: 1.5rem;
 
    }

 }