body {
    margin-bottom: 13vh;
}

ul.Footer {
    height: 10vh;
    align-items: center;
    text-align: center;
    justify-content: space-between;;
    background-color: #eec6f9;
    padding: 1vw 2vw 1vw 2vw;
    margin-bottom: 4vh;
    text-decoration: none;
    list-style-type: none;
}

ul.Footer li {
    display: inline-block;
    padding: 5px;

}

div.FooterWrapper {
    display: block;
    padding-top: 2vh;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 13vh;
    width: 100%;
}

.logo {
    font-size: 6vh;
    text-decoration: none;
    color: black;
}

.navIcon {
    height: 8vh;
    margin: 1.25vw
}

.navItem {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.navItem__text {
    display: none;
}


@media only screen and (min-width: 800px) {
    .footer__not-logged-in, .footer__logged-in {
        display: flex;
        align-items: center;
    }

    .logo {
        font-size: 8vh;
    }
    
    .logoIcon {
        height: 10vh;
    }

    .navIcon {
        height: 6vh;
        margin: 0 1vw 0 2vw;
    }
    
    .navItem__text {
        display: block;
    }

    .navItem__text2 {
        display: block;
        margin-right: 2vw;
    }
}
